<a href="https://colab.research.google.com/github/Mehul-Agrawal410/SoC-2k22/blob/main/Implementation.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

###Importing numpy, pandas and the csv file as df

In [1]:
import numpy as np
import pandas as pd
from sklearn.metrics import accuracy_score

In [2]:
from google.colab import drive
drive.mount('/content/gdrive')

Drive already mounted at /content/gdrive; to attempt to forcibly remount, call drive.mount("/content/gdrive", force_remount=True).

In [82]:
ct=pd.read_csv('gdrive/LoanStatus.csv')
ct.head()

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,LP001002,Male,No,0,Graduate,No,5849,0.0,NaN,360.0,1.0,Urban,Y
1,LP001003,Male,Yes,1,Graduate,No,4583,1508.0,128.0,360.0,1.0,Rural,N
2,LP001005,Male,Yes,0,Graduate,Yes,3000,0.0,66.0,360.0,1.0,Urban,Y
3,LP001006,Male,Yes,0,Not Graduate,No,2583,2358.0,120.0,360.0,1.0,Urban,Y
4,LP001008,Male,No,0,Graduate,No,6000,0.0,141.0,360.0,1.0,Urban,Y

In [61]:
ct.shape

(614, 13)

In [83]:
ct.describe()

,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History
count,614.000000,614.000000,592.000000,600.00000,564.000000
mean,5403.459283,1621.245798,146.412162,342.00000,0.842199
std,6109.041673,2926.248369,85.587325,65.12041,0.364878
min,150.000000,0.000000,9.000000,12.00000,0.000000
25%,2877.500000,0.000000,100.000000,360.00000,1.000000
50%,3812.500000,1188.500000,128.000000,360.00000,1.000000
75%,5795.000000,2297.250000,168.000000,360.00000,1.000000
max,81000.000000,41667.000000,700.000000,480.00000,1.000000

In [84]:
ct.isnull().sum()

Loan_ID               0
Gender               13
Married               3
Dependents           15
Education             0
Self_Employed        32
ApplicantIncome       0
CoapplicantIncome     0
LoanAmount           22
Loan_Amount_Term     14
Credit_History       50
Property_Area         0
Loan_Status           0
dtype: int64

###Filling NaNs and label encoding

In [62]:
from sklearn import preprocessing
label_enc = preprocessing.LabelEncoder()

In [63]:
ct.Gender.fillna(ct.Gender.mode()[0], inplace=True)
ct.Gender = label_enc.fit_transform(ct.Gender) #male 1, female 0

In [64]:
ct.Married.fillna(ct.Married.mode()[0],inplace=True)
ct.Married = label_enc.fit_transform(ct.Married) #yes 1, no 0

In [65]:
ct.loc[ct.Dependents=='3+','Dependents'] = '4'
ct.Dependents = ct.Dependents.astype('float64')
ct.Dependents.fillna(ct.Dependents.mode()[0],inplace=True)

In [66]:
ct.Education = label_enc.fit_transform(ct.Education) #graduate 0, non graduate 1

In [67]:
ct.Self_Employed.fillna(ct.Self_Employed.mode()[0],inplace=True)
ct.Self_Employed = label_enc.fit_transform(ct.Self_Employed) #yes 1, no 0

In [68]:
ct.LoanAmount.fillna(int(ct.LoanAmount.mean()),inplace=True)

In [69]:
ct.Loan_Amount_Term.fillna(ct.Loan_Amount_Term.mean(),inplace=True)

In [70]:
ct.Property_Area = label_enc.fit_transform(ct.Property_Area) #urban 2,rural 0, semiurban 1

In [71]:
ct.Loan_Status = label_enc.fit_transform(ct.Loan_Status) #Y 1, N 0

In [72]:
ct.Credit_History.fillna(ct.Credit_History.mode()[0],inplace=True)

In [73]:
ct.head()

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,LP001002,1,0,0.0,0,0,5849,0.0,146.0,360.0,1.0,2,1
1,LP001003,1,1,1.0,0,0,4583,1508.0,128.0,360.0,1.0,0,0
2,LP001005,1,1,0.0,0,1,3000,0.0,66.0,360.0,1.0,2,1
3,LP001006,1,1,0.0,1,0,2583,2358.0,120.0,360.0,1.0,2,1
4,LP001008,1,0,0.0,0,0,6000,0.0,141.0,360.0,1.0,2,1

###Splitting dataset

In [74]:
from sklearn.model_selection import train_test_split
X = ct.iloc[:,1:12]
y = ct.iloc[:,12]
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=1)

###Decision Tree Classifier

In [75]:
from sklearn.tree import DecisionTreeClassifier
dt = DecisionTreeClassifier(random_state=0)
dt.fit(X_train, y_train)
dt_pred = dt.predict(X_test)
print("Accuracy of Decision Tree Classifier: ", accuracy_score(y_test, dt_pred))

Accuracy of Decision Tree Classifier:  0.7135135135135136

###Gaussian Naive Bayes

In [76]:
from sklearn.naive_bayes import GaussianNB
gnb = GaussianNB()
gnb.fit(X_train, y_train)
gnb_pred = gnb.predict(X_test)
print("Accuracy of Gaussian Naive Bayes: ", accuracy_score(y_test, gnb_pred))

Accuracy of Gaussian Naive Bayes:  0.7837837837837838

###Logistic Regression

In [77]:
from sklearn.linear_model import LogisticRegressionCV
lr = LogisticRegressionCV(max_iter=1000)
lr.fit(X_train, y_train)
lr_pred = lr.predict(X_test)
print("Accuracy of Logistic regression: ", accuracy_score(y_test, lr_pred))

Accuracy of Logistic regression:  0.7891891891891892

###K Nearest Neighbors

In [78]:
from sklearn.neighbors import KNeighborsClassifier
knn = KNeighborsClassifier(n_neighbors=5)
knn.fit(X_train,y_train)
knn_pred = knn.predict(X_test)
print("Accuracy of K nearest neighbors: ", accuracy_score(y_test, knn_pred))

Accuracy of K nearest neighbors:  0.6378378378378379